@page
@model ProjektSchronisko.Pages.WorkHoursAndDays.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie swojego terminu</h1>
<div>
    <h3 style="color:crimson">Na pewno chcesz usunąć swój termin? Jeżeli chcesz tylko zmienić godzinę, zrób to 
        <a asp-page="./Edit" asp-route-id="@Model.WorkHours.Id">tutaj!</a></h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkHours.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkHours.To)
        </dd>
        <dt class="col-sm-2">
            <span>Czy to Twoja zmiana</span>
        </dt>
        <dd class="col-sm-10">
            <span style="color:forestgreen">TAK</span>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WorkHours.Id" />
        <input type="submit" value="Nie chce pomagać zwierzętom!" class="btn btn-danger" /> |
        <a asp-page="./Index">Powróć do listy terminów</a>
    </form>
</div>
