@page
@model ProjektSchronisko.Pages.WorkHoursAndDays.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkHours</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkHours.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkHours.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHours.VolonteerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkHours.VolonteerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkHours.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
