@page
@model ProjektSchronisko.Pages.WorkHoursAndDays.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-info pt-2 pb-3" style="text-align:center" >Godziny pracy wolontariuszy - bądź pomocną łapką dla zwierząt!</h2>
<span>Zapisywanie się ma wybrany termin pełni głównie role informacyjną, nie zobowiązują się Państwo do otrzymania kary w razie braku stawiennictwa, celem zapisywania się 
    na listę w określonym terminie jest pokazanie w jakich dniach pomoc wolontartiuszy jest najbardziej potrzebna, w miarę możliwości proszę wybierać terminy, które nie są oblegane, dziękujemy! </span>

<p>
    <div class=" text-center">
        <a asp-page="./Create" class="btn btn-primary m-1">Chcę pomóc!</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkHours[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkHours[0].To)
            </th>
            <th>
                <span>Czy to Twoja zmiana</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkHours) {

        bool ItIsYourShift = item.VolonteerId == Model.VolunteerId;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            @if(ItIsYourShift) {
                <td>
                    <span style="color:forestgreen;">TAK</span>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            } else {
                <td>
                    <span style="color:crimson">NIE</span>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
