@page
@model ProjektSchronisko.Areas.Identity.Pages.Account.Manage.ReportsModel
@{
    ViewData["Title"] = "Zgłoszenia";
    ViewData["ActivePage"] = ManageNavPages.Reports;
}

<div class="text-center">
    <h3 class="text-info pt-2 pb-3">Twoje zgłoszenia</h3>
</div>
<hr />

@if (Model.ReportsAnimal.Count() <= 0)
{
    <h6><font size="3"><b><i>Nie złożono jeszcze żadnych zgłoszeń</i></b></font></h6>
}

<div class="card-deck">
    @foreach (var report in Model.ReportsAnimal)
    {
        var photoPath = "~/Images/" + (report.PhotoPath ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@Html.DisplayFor(model => report.TypeReport)</h3>
            </div>

            <img class="card-img-top imageThumbnail" style="height: 350px;" src="@photoPath"
                 asp-append-version="true" />

            <div class="card-footer text-center">
                <a asp-page="/Reports/Details" asp-route-id="@report.IdReport" class="btn btn-primary m-1">Podgląd</a>
                <a asp-page="/Reports/Edit" asp-route-id="@report.IdReport" class="btn btn-primary m-1">Edytuj</a>
                <a asp-page="/Reports/Delete" asp-route-id="@report.IdReport" class="btn btn-danger m-1">Usuń</a>
            </div>
        </div>
    }
</div>