@page
@model ProjektSchronisko.Pages.Reports.DeleteModel
@{
}

<h1>Usuń</h1>

<h3>Jesteś pewny że chcesz usunąć te zgłoszenie?</h3>

<div>
    <h4>Zgłoszenie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.TypeReport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.TypeReport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.AnimalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.AnimalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.AddDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ReportAnimal.IdReport" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Wróć do zgłoszeń</a>
    </form>

</div>
