@page
@model ProjektSchronisko.Pages.Reports.DetailsModel
@{
}

<h1>Szczegóły</h1>

<div>
    <h4>Zgłoszenia</h4>
    <hr />

    <div class="text-center">
        <h4 class="display-4">Cześć mam na imię</h4>
        <h6><font size="5"><b><i>@Model.ReportAnimal.AnimalName</i></b></font></h6>
        <hr />
    </div>

    <div class="text-center">

        @{
            var photoPath = "~/Images/" + (Model.ReportAnimal.PhotoPath ?? "noimage.jpg");
        }
        <img class="card-img-top imageThumbnail" src="@photoPath" width="350" height="350"
             asp-append-version="true" />
    </div>
    <hr />



    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.TypeReport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.TypeReport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.AnimalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.AnimalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportAnimal.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportAnimal.AddDate)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h6><font size="5"><b><i>Znalazłeś zwierzęcie, zgłoś to</i></b></font></h6>
            <div class="form-group">
                <label asp-for="@Model.Message" class="control-label"></label>
                <input asp-for="@Model.Message" class="form-control" />
                <span asp-validation-for="@Model.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wyślij wiadomość" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ReportAboutLossOfPet">Wróć do zgłoszeń</a>
</div>