@page
@model ProjektSchronisko.Pages.Animals.IndexPhotosModel
@{
}
<style>
    .btn {
        width: 85px;
    }
</style>

<p>
    <a asp-page="Index">Zmień wygląd</a>
</p><div class="card-deck">
    @foreach (var animal in Model.Animals)
    {
        var photoPath = "~/Images/" + (animal.PhotoPath ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@animal.Name</h3>
            </div>

            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />

            <div class="card-footer text-center">
                <a asp-page="./Details" asp-route-id="@animal.IdAnimal" class="btn btn-primary m-1">Podgląd</a>
                <a asp-page="./Edit" asp-route-id="@animal.IdAnimal" class="btn btn-primary m-1">Edytuj</a>
                <a asp-page="./Delete" asp-route-id="@animal.IdAnimal" class="btn btn-danger m-1">Usuń</a>
            </div>
        </div>
    }
</div>